<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="egovframework.example.board.mapper.BoardMapper">

	<select id="getList" resultType="egovframework.example.board.domain.BoardVO">
		<![CDATA[
			select * FROM temp_board where board_num > 0
		]]>
	</select>

	<insert id="insert">
		INSERT INTO temp_board(board_num, board_title, board_content, board_writer)
		VALUES
		(seq_temp_board_num.nextVal, #{board_title}, #{board_content}, #{board_writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="board_num" order="BEFORE" resultType="long">
			SELECT seq_temp_board_num.nextval FROM dual
		</selectKey>
		
		INSERT INTO temp_board (board_num, board_title, board_content, board_writer)
		VALUES
		(${board_num}, #{board_title}, #{board_content}, #{board_writer})
	</insert>
	
	<select id="read" resultType="egovframework.example.board.domain.BoardVO">
		SELECT * FROM temp_board WHERE board_num = #{board_num}
	</select>
	
	<delete id="delete" >
		DELETE temp_board WHERE board_num = #{board_num}
	</delete>
	
	<update id="update">
		UPDATE temp_board
		SET board_title = #{board_title},
		board_content = #{board_content},
		board_writer = #{board_writer},
		board_update_date = sysdate
		WHERE board_num = #{board_num}
	
	</update>

</mapper>